<p id="id_usaha_hidden" class="d-none">{{usaha.id_usaha_tersimpan}}</p>
<p id="lat_hidden" class="d-none">{{usaha.latitude}}</p>
<p id="lng_hidden" class="d-none">{{usaha.longitude}}</p>
<p id="target_hidden" class="d-none">{{usaha.target_pasar}}</p>
<p id="nama_hidden" class="d-none">{{usaha.nama_usaha}}</p>


<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      
    </div>
    <div class="col-12">
    
      <div class="card mb-4 shadow">
        <img src="../img/img-3.jpg" height="300px" alt="" class="card-img-top">
        <div class="card-body position-relative">
          <a href="/hapus_usaha_tersimpan/{{usaha.id_usaha_tersimpan}}" type="button" id="btn_save" data-toggle="tooltip" data-placement="bottom" title="Hapus usaha ini" class="btn btn-sm btn-warning shadow">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
          </a>
          
          <h5 class="card-title"><strong>Usaha {{usaha.nama_usaha}}</strong></h5>
          <h6>Modal Usaha: Rp.{{usaha.modal}}</h6>

          <h6>Deskripsi Usaha</h6>
          <p>{{usaha.deskripsi}}</p>

          
          
          <div class="row">
            <div class="col-12 d-none">
              <div id="map2" style="width: 100px; height: 100px; position:absolute;" class="shadow"></div>
              
            </div>
            <div class="col-12">
              <h6><strong>Analisis Lokasi</strong></h6>
              <div class="jumbotron" id="target-pesaing">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <h6 class="mb-2" id="labeltpasar">Target Pasar</h6>
                    <div class="row">
                      <div class="col-12">
                        <div class="list-group shadow" id="list_target_pasar">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                          
                        </div>
                        <button id="target_on_map" type="button" class="mt-2 shadow btn btn-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">Lihat dalam Peta</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <h6 class="mb-2" id="label_pesaing">Daftar Pesaing</h6>
                    <div class="row">
                      <div class="col-12">
                        <div class="list-group shadow" id="list_pesaing">
                          <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                        <button id="pesaing_on_map" type="button" class="mt-2 btn shadow btn-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">Lihat dalam Peta</button>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              
            </div>
          </div>

          
          <!-- Bahan Baku -->
          <h6 class="mt-4 mb-2"><strong>Bahan baku</strong></h6>

          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>

          <strong>Analisis Keuntungan</strong>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque necessitatibus maxime, voluptate officia velit sit ratione minus voluptates saepe error inventore tempora quo vel, eligendi, ipsam similique aperiam totam eius.</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque necessitatibus maxime, voluptate officia velit sit ratione minus voluptates saepe error inventore tempora quo vel, eligendi, ipsam similique aperiam totam eius.</p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="map_on_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        
        <div id="map_modal" style="width: 100%; height: 300px;">

        </div>
        
      </div>
      <div class="modal-footer">
        <p id="footer_modal_label"></p>
      </div>
    </div>
  </div>
</div>
  
<script src="/bootstrap/js/popper.js"></script>
  <script src="/bootstrap/js/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeNiSKscMn5k2Ymh0FKA6Ubmt7weTjVMU&libraries=places&callback=init"></script>


<script>
  $('#nav-scroll').removeClass('container-fluid').addClass('container')
  $('#navigasi').addClass('bg-white').removeClass('fixed-top').addClass('sticky-top')

  let idUsahaTersimpan = document.getElementById('id_usaha_hidden').innerText
  
  const lat = $('#lat_hidden').text()
  const lng = $('#lng_hidden').text()

  let pos 
  let map, service
  function init() {
    map = new google.maps.Map(document.getElementById('map2'), {
        zoom: 11,
        center: pos,
        mapTypeControl: false,
        fullscreenControl: false,
        scaleControl: true,
        streetViewControl: false,
        scaleControlOptions: false,
        streetViewControlOptions: false,
      })
      pos = new google.maps.LatLng(parseFloat(lat), parseFloat(lng))
      service = new google.maps.places.PlacesService(map);

      cariTargetPasarDanPesaing(service)
  }
  



  async function cariTargetPasarDanPesaing(service) {
    $('#target_on_map').hide()
    $('#pesaing_on_map').hide()

    let dataTargetPasar = []
    let dataPesaing = []

    let listTargetPasar = $('#target_hidden').text().toLocaleLowerCase().split(',')
    
    for(let i = 0; i < listTargetPasar.length; i++) {
      const hasil = await cariDataPesaingAtauTarget(pos, listTargetPasar[i].trim(), service)
      dataTargetPasar = [...dataTargetPasar, ...hasil]
    }
      var targetPasarHtml =  ""

    dataTargetPasar.forEach(target => {
      targetPasarHtml += 
      `
          <li class="list-group-item d-flex justify-content-between align-items-center">
            ${target.name}
            <span class="badge badge-light badge-pill">±${target.jarak}m</span>
          </li> 
        `
    })
    $('#list_target_pasar').html(targetPasarHtml)
    $('#target_on_map').show()
    $('#labeltpasar').html(`Daftar Target Pasar (${dataTargetPasar.length} tempat)`)

    //cari pesaing
    
    const hasil = await cariDataPesaingAtauTarget(pos, $('#nama_hidden').text(), service)
    dataPesaing = [...dataPesaing, ...hasil]
    let pesaingHtml =""
    if(dataPesaing.length > 0){

    
      for(let i=0; i<dataPesaing.length; i++) {
        pesaingHtml += `
            <li class="list-group-item d-flex justify-content-between align-items-center">
              ${dataPesaing[i].name}
              <span class="badge badge-light badge-pill">±${dataPesaing[i].jarak}m</span>
            </li> 
          `
      } 
      $('#label_pesaing').html(`Daftar Pesaing (${dataPesaing.length} usaha)`)
      $('#pesaing_on_map').show()
    }
    else {
      pesaingHtml += `
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Tidak ada pesaing dengan jenis usaha yang sama.
            </li> 
          `
      $('#pesaing_on_map').hide()
    }
    $('#list_pesaing').html(pesaingHtml)

    // click button untuk membuka map dalam modal

    $('#target_on_map').click(() => {
      $('#map_on_modal').modal('show')
      $('#footer_modal_label').text(`Terdapat sekitar ${dataTargetPasar.length} tempat.`)
      $('#modal_title').text('Peta Target Pasar')
      
      let mapModal = new google.maps.Map(document.getElementById('map_modal'), {
        zoom: 15,
        center: pos,
        mapTypeControl: false,
        fullscreenControl: false,
        scaleControl: true,
        streetViewControl: false,
        scaleControlOptions: { position: google.maps.ControlPosition.RIGHT_TOP },
        streetViewControlOptions: { position: google.maps.ControlPosition.RIGHT_CENTER },
      })

      let marker = new google.maps.Marker({
        map: mapModal,
        zoom: 1,
        icon: '/img/small_business_38px.png',
        position: pos,
      })
      new google.maps.Circle({
        strokeColor: "#858585",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "#FF0000",
        fillOpacity: 0,
        map: mapModal,
        center: pos,
        radius:1000
      });

      let infowindow = new google.maps.InfoWindow({  content: "Lokasi Usaha Anda." })
      infowindow.open(mapModal, marker);
      marker.addListener("click", function() {
        infowindow.open(mapModal, marker);
      });

      dataTargetPasar.forEach(target => {
        let posisi = target.geometry.location
        let mark= new google.maps.Marker({
          map: mapModal,
          zoom: 1,
          position: posisi,
        })
        let infowindow = new google.maps.InfoWindow({  content: `${target.name}, Jarak ±${target.jarak}m` })
        mark.addListener("click", function() {
          infowindow.open(mapModal, mark);
        });
      })

    })
   
    $('#pesaing_on_map').click(() => {
      $('#map_on_modal').modal('show')
      $('#footer_modal_label').text(`Terdapat sekitar ${dataPesaing.length} usaha.`)
      $('#modal_title').text('Peta Pesaing')
      
      let mapModal = new google.maps.Map(document.getElementById('map_modal'), {
        zoom: 15,
        center: pos,
        mapTypeControl: false,
        fullscreenControl: false,
        scaleControl: true,
        streetViewControl: false,
        scaleControlOptions: { position: google.maps.ControlPosition.RIGHT_TOP },
        streetViewControlOptions: { position: google.maps.ControlPosition.RIGHT_CENTER },
      })

      let marker = new google.maps.Marker({
        map: mapModal,
        zoom: 1,
        icon: '/img/small_business_38px.png',
        position: pos,
      })
      new google.maps.Circle({
        strokeColor: "#858585",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "#FF0000",
        fillOpacity: 0,
        map: mapModal,
        center: pos,
        radius:1000
      });

      let infowindow = new google.maps.InfoWindow({  content: "Lokasi Usaha Anda." })
      infowindow.open(mapModal, marker);
      marker.addListener("click", function() {
        infowindow.open(mapModal, marker);
      });

      dataPesaing.forEach(pesaing => {
        let posisi = pesaing.geometry.location
        let mark= new google.maps.Marker({
          map: mapModal,
          zoom: 1,
          position: posisi,
        })
        let infowindow = new google.maps.InfoWindow({  content: `${pesaing.name}, Jarak ±${pesaing.jarak}m` })
        mark.addListener("click", function() {
          infowindow.open(mapModal, mark);
        });
      })

    })
  }

  function cariDataPesaingAtauTarget(pos, nama, service) {

    return new Promise((resolve, reject) => {
      service.nearbySearch({location : pos, radius : 1000, language: 'id', name: `${nama}`}, (results, status) => {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
            let data = []
            let numTerdekat = 1001
            results.forEach(hasil => {
              if(getDistance(pos, hasil.geometry.location) <= 1000){
                const jarak = getDistance(pos, hasil.geometry.location)
                hasil['jarak'] = Math.round(jarak)
                data.push(hasil)
              }
            })
            resolve(data)
        } else {
          resolve([])
        }
      })
    })
  }

  let rad = function(x) {
      return x * Math.PI / 180;
    };
  var getDistance = function(p1, p2) {
      var R = 6378137; // Earth’s mean radius in meter
      var dLat = rad(p2.lat() - p1.lat());
      var dLong = rad(p2.lng() - p1.lng());
      var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(rad(p1.lat())) * Math.cos(rad(p2.lat())) *
        Math.sin(dLong / 2) * Math.sin(dLong / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      return d; // returns the distance in meter
    };


  
</script>