  <!-- content -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4 shadow">
          <img src="../../img/img-3.jpg" height="300px" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title mb-1">Detail Usaha {{usaha.nama_usaha}}</h5>
            <h6 class="text-success mb-4">Modal Usaha: Rp. {{usaha.modal}}</h6>

            <h6>Deskripsi Usaha</h6>
            <p>{{usaha.deskripsi_usaha}}</p>
            
            <h6 class="card-title">Daftar Target Pasar</h6>
            <ul>
              <li>
                {{usaha.target_pasar}}
              </li>
            </ul>


            <!-- Bahan Baku -->
            <h6 class="mt-4 mb-2">Bahan baku</h6>

            <p>{{usaha.bahan_baku}}</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>

            <h6 class="mt-4 mb-2">Analisis Keuntungan</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque necessitatibus maxime, voluptate officia velit sit ratione minus voluptates saepe error inventore tempora quo vel, eligendi, ipsam similique aperiam totam eius.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque necessitatibus maxime, voluptate officia velit sit ratione minus voluptates saepe error inventore tempora quo vel, eligendi, ipsam similique aperiam totam eius.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  